* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #333;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #333;
}

.side-menu {
  height: 97%;
  width: 5vw;
  margin: 10px 0 10px 10px;
  background-color: #555;
  position: fixed;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.logo img{
  height: 45px;
  width: 45px;
  margin-top: 20px;
}

.side-menu button {
  font-size: 25px;
  color: #999;
  background-color: #555;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  height: 100%;
  max-width: 93vw;
  left: 0;
  top: 0;
  padding: 20px;
  margin-left: 80px;
  background-color: #333;
  color: #fff;
  overflow-x: hidden;

}

h2 {
  margin-bottom: 15px;
  color: #999;
}

.search {
  width: 100%;
  display: flex;
  gap: 10px;
}

.search button {
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 25px;
}

.search button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search input {
  width: 120%;
  height: 40px;
  background-color: #333;
  border-radius: 9px;
  padding: 0 10px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center ;
  color: #fff;
}

.search input:focus {
  outline: none;
}

.trending {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.trending-movies {
  display: flex;
  gap: 10px;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70.5%);
  }
}

.trending-movies::-webkit-scrollbar {
  display: none;
}

.trending-card {
  margin-bottom: 30px;
  min-width: 400px;
  height: 200px;
  background-color: #444;
  border-radius: 10px;
}

.trending-card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: end;
  padding: 10px 15px;
}

.trending-card-tile {
  display: flex;
  color: #999;
  gap: 10px;
}

.trending-card img {
  display: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  width: 265px;
  height: 200px;
  background-color: #444;
  border-radius: 10px;
}

.movie-card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: end;
  padding: 10px 15px;
}

.movie-card-info h3 {
  font-size: 17px;
}

.movie-card-info p {
  font-size: 15px;
}

.movie-card-tile {
  display: flex;
  color: #999;
  gap: 10px;
}

.movie-card img {
  display: none;
}